{:nomad/private-file #nomad/file "resources/local.edn"
 :slack {:api-url "https://slack.com/api/"
         :resources {:rtm-start "rtm.start"
                     :reactions-add "reactions.add"
                     :user-info "users.info"
                     :user-list "users.list"
                     :emoji "emoji.list"
                     :post-message "chat.postMessage"
                     :open-dm "im.open"
                     :close-dm "im.close"}
         :api-token "set me in your resources/local.edn"}
 :ping 3
 :nomad/environments {"dev" {:logging {:level :debug
                                       :spit {:fname "formidable.log"
                                              :async? true}
                                       :print {:async? true}}}
                      "prod" {:logging {:level :info
                                        :spit {:fname "formidable.log"
                                               :async? true}
                                        :print {:async? true
                                                :min-level :info}}}}
 :bot {:bot-name "blabs"}}
